$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Microsoft JhengHei", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$primary: #BC2B35;
$primary-bright: #D9343F;
$tulip: #F2F0C9;


/*@mixin hide_box{
    max-height: 0;
    overflow: hidden;        
}*/

// scss裡面寫@include hide_box;